$black: #333333;
$aqua: #10b9b3;
$white: #ffffff;
$light-black: #413d4b;
$purple: #2f2553;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1229px;

$works-item-height: 200px;
