<section class="expertise" id="expertise">
    <div class="container">

        <h2 class="title__title" data-aos="fade-right">Expertise</h2>
        <h3 class="title__suptitle" data-aos="fade-right">Lorem ipsum dolor sit amet proin gravida nibh vel velit</h3>

        <div class="expertise__cards">

            <div class="expertise__item" data-aos="fade-right">
                <img class="expertise__img" src="img/expertise/expertise-1.png" alt="expert-img-1">
                <div class="expetise__header">WEB DESIGN &amp; DEVELOPMENT</div>
                <div class="expertise__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </div>
            </div><!-- /.expertise__item -->
            <div class="expertise__item" data-aos="fade-down">
                <img class="expertise__img" src="img/expertise/expertise-2.png" alt="expert-img-2">
                <div class="expetise__header">BRANDING IDENTITY</div>
                <div class="expertise__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </div>
            </div><!-- /.expertise__item -->
            <div class="expertise__item expertise__item--norb" data-aos="fade-left">
                <img class="expertise__img" src="img/expertise/expertise-3.png" alt="expert-img-3">
                <div class="expetise__header">MOBILE APP</div>
                <div class="expertise__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </div>
            </div><!-- /.expertise__item -->
            <div class="expertise__item expertise__item--nobb" data-aos="fade-right">
                <img class="expertise__img" src="img/expertise/expertise-4.png" alt="expert-img-4">
                <div class="expetise__header">SEARCH ENGINE OPTIMIZATION</div>
                <div class="expertise__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </div>
            </div><!-- /.expertise__item -->
            <div class="expertise__item expertise__item--nobb" data-aos="fade-up">
                <img class="expertise__img" src="img/expertise/expertise-5.png" alt="expert-img-5">
                <div class="expetise__header">GAME DEVELOPMENT</div>
                <div class="expertise__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </div>
            </div><!-- /.expertise__item -->
            <div class="expertise__item expertise__item--norb expertise__item--nobb" data-aos="fade-left">
                <img class="expertise__img" src="img/expertise/expertise-6.png" alt="expert-img-6">
                <div class="expetise__header">MADE WITH LOVE</div>
                <div class="expertise__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </div>
            </div><!-- /.expertise__item -->

        </div><!-- /.expertise__cards -->
    </div><!-- /.container -->
</section>
