<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__item" data-aos="fade-right" data-aos-delay="500">
                <div class="header__item header__item--footer">
                    <img class="header__img" src="img/header-logo.png" alt="header-logo">
                    <div class="header__logo">Tajam</div>
                </div>

                <div class="footer__text">
                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
                </div>

                <nav class="footer-nav">
                    <a class="footer-nav__item" href="#">Help</a>
                    <a class="footer-nav__item" href="#">TERMS &amp; CONDITIONS</a>
                    <a class="footer-nav__item" href="#">PRIVACY</a>
                </nav>
            </div><!-- /.footer__item -->

            <div class="footer__item" data-aos="fade-right" data-aos-delay="400">
                <h2 class="footer__header">OUR STUDIO</h2>
                <div class="footer__parts">
                   <a class="footer__link" href="https://www.google.ru/maps" target="_blank">
                        <svg class="footer__icon">
                            <use xlink:href="#footer-map"></use>
                        </svg>
                    </a>
                    <div class="footer__text footer__text--forsign">
                        Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                    </div>
                </div>
                <div class="footer__parts">
                   <a class="footer__link" href="tel:+62122243333">
                        <svg class="footer__icon">
                            <use xlink:href="#footer-phone"></use>
                        </svg>
                    </a>
                    <div class="footer__text footer__text--forsign">
                        (+62) 21-2224 3333
                    </div>
                </div>
            </div><!-- /.footer__item -->

            <div class="footer__item" data-aos="fade-right" data-aos-delay="300">
                <h2 class="footer__header">STAY IN TOUCH</h2>
                <div class="footer__form">
                    <input class="footer__input" type="text" placeholder="Subscribe our newsletter">
                    <button class="footer__button">
                        <svg class="footer__plane">
                            <use xlink:href="#footer-plane"></use>
                        </svg>
                    </button>
                </div>

                <div class="footer-socials">
                    <a class="footer-socials__item" href="https://ru-ru.facebook.com/" target="_blank">
                        <svg class="footer__icons">
                            <use xlink:href="#footer-facebook"></use>
                        </svg>
                    </a>
                    <a class="footer-socials__item" href="https://www.instagram.com/" target="_blank">
                        <svg class="footer__icons">
                            <use xlink:href="#footer-instagram"></use>
                        </svg>
                    </a>
                    <a class="footer-socials__item" href="https://twitter.com/" target="_blank">
                        <svg class="footer__icons">
                            <use xlink:href="#footer-twitter"></use>
                        </svg>
                    </a>
                    <a class="footer-socials__item" href="https://www.google.ru/" target="_blank">
                        <svg class="footer__icons">
                            <use xlink:href="#footer-google"></use>
                        </svg>
                    </a>
                    <a class="footer-socials__item" href="https://www.youtube.com/" target="_blank">
                        <svg class="footer__icons">
                            <use xlink:href="#footer-youtube"></use>
                        </svg>
                    </a>
                </div><!-- /.footer-socials -->

                <div class="footer__copyright">
                    Copyright © 2015 - Tajem Creative
                </div>
            </div><!-- /.footer__item -->

        </div><!-- /.footer__inner -->
    </div><!-- /.container -->
</footer>
