<section class="intro" id="intro">

    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">

                <div class="header__item">
                    <img class="header__img" src="img/header-logo.png" alt="header-logo">
                    <div class="header__logo">Tajam</div>
                </div>

                <nav class="nav" id="nav">
                    <a class="nav__item" href="#" data-scroll="#intro">Home</a>
                    <a class="nav__item" href="#" data-scroll="#our-story">About</a>
                    <a class="nav__item" href="#" data-scroll="#expertise">Expertise</a>
                    <a class="nav__item" href="#" data-scroll="#team">Teams</a>
                    <a class="nav__item" href="#" data-scroll="#works">Works</a>
                    <a class="nav__item" href="#" data-scroll="#quote">People say</a>
                    <a class="nav__item" href="#" data-scroll="#contact">Contact</a>
                </nav>

                <button class="nav-toggle" id="nav-toggle">Menu</button>

            </div><!-- /.header__inner -->
        </div><!-- /.container -->
    </header>

    <div class="container">

        <div class="intro-slider" id="intro-slider">
            <div class="intro-slider__item">
                <h1 class="intro-slider__header">We Are Awesome Creative Agency</h1>
                <div class="intro-slider__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </div>
                <div class="btn">
                    <a class="btn__link" href="#">Learn more</a>
                </div>
            </div><!-- /.intro-slider__item -->
            <div class="intro-slider__item">
                <h1 class="intro-slider__header">We Are Awesome Creative Agency</h1>
                <div class="intro-slider__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </div>
                <div class="btn">
                    <a class="btn__link" href="#">Learn more</a>
                </div>
            </div><!-- /.intro-slider__item -->
            <div class="intro-slider__item">
                <h1 class="intro-slider__header">We Are Awesome Creative Agency</h1>
                <div class="intro-slider__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </div>
                <div class="btn">
                    <a class="btn__link" href="#">Learn more</a>
                </div>
            </div><!-- /.intro-slider__item -->
            <div class="intro-slider__item">
                <h1 class="intro-slider__header">We Are Awesome Creative Agency</h1>
                <div class="intro-slider__text">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </div>
                <div class="btn">
                    <a class="btn__link" href="#">Learn more</a>
                </div>
            </div><!-- /.intro-slider__item -->
        </div> <!-- /.intro-slider -->

    </div> <!-- /.container -->
</section>






















