<section class="quote" id="quote">

    <h2 class="title__title title__title--white">“</h2>

    <div class="quote__text" data-aos="fade-left">
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
    </div>

    <div class="quote__slider" id="quote-slider" data-aos="fade-right" data-aos-delay="200">
        <div class="quote__item">
            <div class="quote__author">JANE GALADRIEL</div>
            <div class="quote__job-name">CEO TENGKUREP</div>
            <img class="quote__img" src="img/quotes/quote-1.png" alt="quote-1">
        </div>
        <div class="quote__item">
            <div class="quote__author">JANE GALADRIEL</div>
            <div class="quote__job-name">CEO TENGKUREP</div>
            <img class="quote__img" src="img/quotes/quote-2.png" alt="quote-2">
        </div>
        <div class="quote__item quote__item--active">
            <div class="quote__author">JANE GALADRIEL</div>
            <div class="quote__job-name">CEO TENGKUREP</div>
            <img class="quote__img" src="img/quotes/quote-3.png" alt="quote-3">
        </div>
        <div class="quote__item">
            <div class="quote__author">JANE GALADRIEL</div>
            <div class="quote__job-name">CEO TENGKUREP</div>
            <img class="quote__img" src="img/quotes/quote-4.png" alt="quote-4">
        </div>
        <div class="quote__item">
            <div class="quote__author">JANE GALADRIEL</div>
            <div class="quote__job-name">CEO TENGKUREP</div>
            <img class="quote__img" src="img/quotes/quote-5.png" alt="quote-5">
        </div>
    </div><!-- /.quote__slider -->

</section> <!-- /.quote -->
