<section class="story" id="our-story">
    <div class="container">
        <div class="story__inner">

            <div class="story__item" data-aos="zoom-in" data-aos-delay="50">
                <img class="story__img" src="img/story-logo.png" alt="story-logo">
            </div>

            <div class="story__item story__item--second">
                <h2 class="title__title title__title--left" data-aos="zoom-in" data-aos-delay="150">our story</h2>

                <p class="story__text" data-aos="zoom-in" data-aos-delay="200">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                </p>
                <p class="story__text" data-aos="zoom-in" data-aos-delay="250">
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>

                <div class="btn btn--story" data-aos="zoom-in" data-aos-delay="300">
                    <a class="btn__link" href="#">Learn more</a>
                </div>
            </div>
        </div><!-- /.story__inner -->
    </div> <!-- / .container-->

    <div class="story__moovie">
        <button class="story__play" data-aos="flip-left">
            <svg class="story__icon">
                <use xlink:href="#story"></use>
            </svg>
        </button>

        <div class="story-moovie__text" data-aos="fade-up">
            WATCH OUR STORY
        </div>
    </div><!-- /.story__moovie -->

</section> <!-- /.story -->
