<section class="team" id="team">
    <div class="container">

        <h2 class="title__title title__title--white" data-aos="zoom-in">Meet our amazing team</h2>
        <h3 class="title__suptitle title__suptitle--white" data-aos="zoom-in">Lorem ipsum dolor sit amet proin gravida nibh vel velit</h3>

        <div class="team-cards">
            <div class="team-cards__item" data-aos="zoom-out" data-aos-delay="200">
                <img class="team-cards__img" src="img/team/team-img.jpg" alt="team-1">
                <div class="team-cards__title">Tajem team</div>
                <div class="team-cards__name">SEMF UCUK</div>
                <div class="team-cards__pos">CEO &amp; FOUNDER</div>
            </div><!-- /.team-cards__item -->
            <div class="team-cards__item" data-aos="zoom-out" data-aos-delay="300">
                <img class="team-cards__img" src="img/team/team-img.jpg" alt="team-1">
                <div class="team-cards__title">Tajem team</div>
                <div class="team-cards__name">DIK ADALIN</div>
                <div class="team-cards__pos">ENGINEERING</div>
            </div><!-- /.team-cards__item -->
            <div class="team-cards__item" data-aos="zoom-out" data-aos-delay="400">
                <img class="team-cards__img" src="img/team/team-img.jpg" alt="team-1">
                <div class="team-cards__title">Tajem team</div>
                <div class="team-cards__name">JENG KOL</div>
                <div class="team-cards__pos">DESIGNER</div>
            </div><!-- /.team-cards__item -->
            <div class="team-cards__item" data-aos="zoom-out" data-aos-delay="500">
                <img class="team-cards__img" src="img/team/team-img.jpg" alt="team-1">
                <div class="team-cards__title">Tajem team</div>
                <div class="team-cards__name">PET ROMAK</div>
                <div class="team-cards__pos">MARKETING</div>
            </div><!-- /.team-cards__item -->

        </div> <!-- /.team-cards -->

        <div class="team__text" data-aos="flip-left" data-aos-duration="1000">
            Become part of our dream team, let’s join us !
        </div>

        <div class="btn" data-aos="flip-left" data-aos-duration="1000">
            <a class="btn__link" href="#">we are hiring</a>
        </div>

    </div> <!-- /.container -->
</section> <!-- /.team-->
