<section class="works" id="works">
    <div class="container">

        <div class="works__header">
            <h2 class="title__title title__title--works">our works</h2>
            <a class="works__link" href="#">
                See All Project in dribbble
            </a>
        </div>

    </div> <!-- /.container -->

    <div class="works__gallery" id="gallery">

        <div class="works__cover" data-aos="zoom-out" data-aos-delay="150">
            <div class="works__item" >...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="200">
            <div class="works__item works__item--dimm-2">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="250">
            <div class="works__item works__item--dimm-3">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="300">
            <div class="works__item works__item--dimm-4">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="350">
            <div class="works__item">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="400">
            <div class="works__item works__item--dimm-2">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="150">
            <div class="works__item works__item--dimm-3" >...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="200">
            <div class="works__item works__item--dimm-4">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="250">
            <div class="works__item">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="300">
            <div class="works__item works__item--dimm-2">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="350">
            <div class="works__item works__item--dimm-3">...</div>
        </div>
        <div class="works__cover" data-aos="zoom-out" data-aos-delay="400">
            <div class="works__item works__item--dimm-4">...</div>
        </div>

    </div><!-- /.works__gallery -->

    <div class="btn btn--works">
        <a class="btn__link" href="#">load more</a>
    </div>

</section> <!-- /.works -->
